html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

:root{
    --MAIN-COLOUR: #fafaf9;
    --BG-COLOUR: #e5e7eb;
    --ACCENT-1: #0ea5e9;
    --ACCENT-2: #facc15;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body{
    background-color: var(--BG-COLOUR);
}

header{
    height: 100px;
    background-color: var(--ACCENT-2);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
    box-shadow: 2px 3px 5px 0px #BCBCBC;
}

header > h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 1rem;
}

nav>button{
    font: inherit;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

/* WRAPPER */

.wrapper{
    width: 700px;
    height: 100%;
    background-color: var(--MAIN-COLOUR);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem auto;
    box-shadow: 2px 3px 5px 0px #BCBCBC;
}

h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.img1{
    width: 500px;
}

.wrapper > figcaption{
    font-size: 0.8rem;
    margin-top: -0.4rem;
}